/* adminnav.php */
/* admin-logo */
.admin-navbar {
    width: 350px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logoset {
    display: flex;
}

.fontset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.main-font {
    font-weight: 700;
    width: 168px;
    font-size: x-large;
    margin-bottom: -6px;
}

.body-font {
    /* font-weight: 700; */
    width: 168px;
    font-size: medium;
    margin-bottom: -6px;
}

/* admin tabs */
.main-tabs {
    display: flex;
    justify-content: center;
}

.admin-tabs {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 300px;

}

.tabs {
    border: 1px solid rgb(169, 168, 168);
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.5);
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
}

.tabs a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.svg-icon {
    height: 25px;

}

/* brandinsert.php */
.formset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 800px; */
    height: 100vh;
}

.form-input {
    /* height: 6vh; */
    margin-top: 20px;
    padding-top: 30px;
    width: 450px;
}

/* modelInsert.php */
.modelform {
    display: flex;
    justify-content: center;
}

.modelform-set {
    width: 45rem;
    height: 500px;
}